thinkpad/qtile/.config/qtile/__pycache__/
workstation/qtile/.config/qtile/__pycache__/
common/bash/.bash_history
common/ncspot/.config/ncspot/userstate.cbor
workstation/qtile/.config/qtile/__pycache__
